<footer class="footer">
  <div class="container" style="text-align: center;">
    <p>© {{ now.Year }} My Blog · Built with ❤️ by {{ .Site.Params.author }}</p>
<!--     
    <div style="display: flex; justify-content: center; gap: 5px; margin-top: 8px;">
      <a href="https://www.linkedin.com/in/aftabakram" target="_blank" rel="noopener" style="text-decoration:none; box-shadow:none;">
        <img src="/icons/linkedin.svg" alt="LinkedIn" width="24" style="width:28px; height:28px; display:block;">
      </a>
      <a href="mailto:aftabakram04@gmail.com" style="text-decoration:none; box-shadow:none;">
        <img src="/icons/gmail.svg" alt="Gmail" width="24" style="width:28px; height:28px; display:block;">
      </a>
      <a href="/files/resume.pdf" target="_blank" style="text-decoration:none; box-shadow:none;">
        <img src="/icons/resume.svg" alt="Resume" width="24" style="width:28px; height:28px; display:block;">
      </a>
    </div>
     -->
  </div>
</footer>
